[submodule "intelpt/processor-trace"]
	path = intelpt/processor-trace
	url = https://github.com/richinseattle/processor-trace.git
[submodule "dynamorio"]
	path = dynamorio
	url = https://github.com/richinseattle/dynamorio.git
[submodule "intelpt/WindowsIntelPT"]
	path = intelpt/WindowsIntelPT
	url = https://github.com/intelpt/WindowsIntelPT.git
